@using Scooterland.Shared.Models
@using Scooterland.Client.Services.SaleServices;
@using Scooterland.Client.Services.EmployeeServices;

<h3>Igangværende ordrer</h3>



<div class="search-container">
	<i class="search-icon fa fa-search"></i>
	<input class="search-bar"
	placeholder="Søg"
	id="navn"
	type="text"
	@bind="nameSearch"
	@bind:event="oninput" />
</div>

@if (filteredSales == null)
{
	<p><em>Ingen sales fundet.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Kunde navn</th>
				<th>Telefonnr.</th>
				<th>Mekaniker</th>
				<th>Scooter mærke</th>
				<th>Kommentar</th>
				<th>Start dato</th>
				<th>Slut dato</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in filteredSales)
			{
				<tr @ondblclick="() => HandleRowClick(item)">
					<td class="cell">@item.SaleId</td>
					<td class="cell">@item.Customer?.Name</td>
					<td class="cell">@item.Customer?.Phonenumber</td>
					<td>
						@if (item.Employee is null)
						{
							<div @onclick="()=>AssignMekanikerToSale(item)" class="cell"></div>
						}
						else
						{
							<div @onclick="()=>AssignMekanikerToSale(item)" class="cell">@item.Employee.Name</div>
						}
					</td>
					@if (item.Specialization is null)
					{
						<td class="cell"></td>
					}
					else
					{
						<td class="cell">@item.Specialization.Brand</td>
					}
					@if (item.Comment is null)
					{
						<td class="cell"></td>
					}
					else
					{
						<td class="cell">@item.Comment</td>
					}
					<td class="cell">@item.StartDate</td>
					@if (item.EndDate == null)
					{
						<td><button class="delete-button" @onclick="OpenCloseDeleteBox"><i class="fa-regular fa-trash-can"></i></button></td>
						@if (isSureBoxVisible)
						{
							<div class="message-box">
								<div class="message-content">
									<h4>Slet salg</h4>
									<p>Er du sikker på at du vil slette dette salg?</p>
									<div class="message-success">
										<button @onclick="() => ConfirmDelete(item.SaleId)">Ja</button>
										<button @onclick="CancelDelete">Nej</button>
									</div>
								</div>
							</div>
						}
					}
					else
					{
						<td class="cell">@item.EndDate</td>
					}
				</tr>

				@if (showEmployeeDropdown && item.SaleId == currentSaleId)
				{
					<tr>
						<td></td>
						<td></td>
						<td colspan="2">
							<div class="employee-dropdown">
								<select class="employee-dropdown" @onchange="(e) => HandleEmployeeChange(e, item.SaleId)">
									<option value="">-- Vælg mekaniker --</option>
									@foreach (var emp in employeeList)
									{
										<option value="@emp.EmployeeId">@emp.Name</option>
									}
								</select>
								<button class="employee-btn" @onclick="CancelAssignEmployee">Annuller</button>
								<button class="employee-btn" @onclick="RemoveMekanikerFromSale">Fjern mekaniker</button>
							</div>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

				}
			}
		</tbody>
	</table>
}

@if (isErrorBoxVisible)
{
	<div class="message-box">
		<div class="message-content">
			<h4>Fejl</h4>
			<p></p>
			<div class="message-success">
				<button @onclick="CloseMessageBox">OK</button>
			</div>
		</div>
	</div>
}

@code {
	[Inject]
	public NavigationManager Navigation { get; set; }
	[Inject]
	public ISaleService Service { get; set; }
	[Inject]
	public IEmployeeService EmployeeService { get; set; }
	// Indeholder listen over ansatte med rollen "Mekaniker," som vises i dropdown-menuen til tildeling af mekanikere til et Sale.
	private List<Employee> employeeList = new List<Employee>();
	private List<Sale> sales = new List<Sale>();
	private List<Sale> filteredSales = new List<Sale>();
	// Repræsenterer det aktuelle Sale, der skal tildeles en mekaniker via dropdown-menuen.
	private Sale? currentSale;
	private bool showEmployeeDropdown = false;
	private bool isSureBoxVisible = false;
	private bool isErrorBoxVisible = false;
	private int? selectedEmployeeId = null;
	private int currentSaleId;
	private string _nameSearch; //Private felt som gemmer værdien af inputtet fra søgningen

	private string nameSearch   //Bundet til input-feltet for søgning
	{
		get => _nameSearch; //Henter den aktuelle værdi af det private felt _nameSearch
		set
		{
			_nameSearch = value;    //Opdaterer det pribate felt _nameSearch med den nye værdi
			FilterSales();      // Kalder FilterEmployees() for at opdatere listen med det samme
		}
	}
	

	protected override async Task OnInitializedAsync()
	{
		sales = (await Service.GetAllSales()).Where(x => x.EndDate == null).ToList();
		filteredSales = sales;
	}

	private void FilterSales()
	{
		if (string.IsNullOrWhiteSpace(nameSearch))
		{
			filteredSales = sales; // Hvis søgningen er tom, vis alle produkter
		}
		else
		{
			var nameSearchToLower = nameSearch.ToLower();

			filteredSales = sales.Where(s =>
			s.Customer.Name.ToLower().Contains(nameSearchToLower) ||
			(s.Specialization != null && s.Specialization.Brand.ToLower().Contains(nameSearchToLower)) ||
			(s.Employee != null && s.Employee.Name.ToLower().Contains(nameSearchToLower))).ToList();
		}
	}

	private void HandleRowClick(Sale sale)
	{
		Navigation.NavigateTo($"/sales/current-sale?saleId={sale.SaleId}");
	}


	private async Task AssignMekanikerToSale(Sale sale)
	{
		currentSaleId = sale.SaleId;
		// Henter alle ansatte og filtrerer dem, så kun dem med rollen "Mekaniker" vises i listen.
		if (sale.SpecializationId == null)
		{
			employeeList = (await EmployeeService.GetAllEmployees()).Where(e => e.Role == "Mekaniker").ToList();
		}
		else
		{
			employeeList = (await EmployeeService.GetAllEmployees()).Where(e => e.Role == "Mekaniker"
								&& e.Specializations.Any(s => s.SpecializationId == sale.SpecializationId)).ToList();
		}
		// Hvis der findes mekanikere, aktiveres dropdown-menuen og det valgte Sale gemmes i currentSale.
		if (employeeList.Any())
		{
			currentSale = sale;         // Sætter det Sale, som dropdown-menuen relaterer til.
			OpenCloseDropdown(); // Viser vores dropdown menu hvor vi kan assign en mekaniker
			StateHasChanged();
		}
	}

	private void OpenCloseDropdown()
	{
		showEmployeeDropdown = !showEmployeeDropdown;
	}

	private void HandleEmployeeChange(ChangeEventArgs e, int saleId)
	{
		// Hent den valgte værdi fra dropdown
		var selectedValue = e.Value?.ToString();

		if (!string.IsNullOrEmpty(selectedValue))
		{
			selectedEmployeeId = int.Parse(selectedValue);
			currentSaleId = saleId;

			// Kald opdateringsmetoden
			UpdateSaleWithMekaniker();
		}
	}

	private async Task UpdateSaleWithMekaniker()
	{
		// Hvis der er et aktuelt Sale og en valgt mekaniker, så fortsætter opdateringen.
		if (currentSale != null && selectedEmployeeId != null)
		{
			// Find den valgte mekaniker baseret på deres EmployeeId.
			var selectedEmployee = employeeList.FirstOrDefault(e => e.EmployeeId == selectedEmployeeId);
			if (selectedEmployee != null)
			{
				currentSale.EmployeeId = selectedEmployee.EmployeeId; // Tildel mekanikerens Id til det aktuelle Sale.
				await Service.UpdateSale(currentSale); // Gem opdateringen i databasen.

				// Opdater Sale-listen og den filtrerede liste, så ændringerne kan ses i vores UI.
				sales = (await Service.GetAllSales()).Where(x => x.EndDate == null).ToList();
				filteredSales = sales;
			}
		}
		CancelAssignEmployee(); // Luk dropdown-menuen og nulstil værdier.
	}

	private void CancelAssignEmployee()
	{
		currentSale = null; // Nulstiller det aktuelle Sale.
		selectedEmployeeId = null; // Nulstiller den valgte mekaniker.
		showEmployeeDropdown = false; // Skujler vores dropdown menu.
		StateHasChanged();
	}

	private async Task RemoveMekanikerFromSale()
	{
		if (currentSale != null)
		{
			currentSale.Employee = null; // Fjerner mekaniker fra Sale
			currentSale.EmployeeId = null;
			await Service.UpdateSale(currentSale); // Gem opdateringen i databasen.

			// Opdater Sale-listen og den filtrerede liste, så ændringerne kan ses i vores UI.
			sales = (await Service.GetAllSales()).Where(x => x.EndDate == null).ToList();
		}
		CancelAssignEmployee();
	}
	private async Task DeleteSale(int saleId)
	{
		sales = (await Service.GetAllSales()).Where(x => x.EndDate == null).ToList();
		if (sales.Any(x => x.SaleId == saleId))
		{
			await Service.DeleteSale(saleId);
			sales = (await Service.GetAllSales()).Where(x => x.EndDate == null).ToList();
			filteredSales = sales;
			StateHasChanged();
		}
		else
		{
			isErrorBoxVisible = true;
		}
	}

	private void CloseMessageBox()
	{
		isErrorBoxVisible = false;
	}
	private void OpenCloseDeleteBox()
	{
		isSureBoxVisible = !isSureBoxVisible;
	}
	private async Task ConfirmDelete(int saleId)
	{
		await DeleteSale(saleId);
		isSureBoxVisible = false; // Luk boksen
	}
	private void CancelDelete()
	{
		isSureBoxVisible = false;
	}
}