@using Scooterland.Shared.Models
@using Scooterland.Client.Services.CustomerServices;



<div class="search-container">
	<i class="search-icon fa fa-search"></i>
	<input class="search-bar" placeholder="Søg efter produkt" id="navn" type="text" @bind="nameSearch" />
</div>

<div class="search-button-container">
	<button class="btn-dark" @onclick="SearchCustomers">Søg</button>
	<button class="btn-dark" @onclick="ClearCustomers">Ryd</button>
</div>




@if (filteredCustomers == null)
{
	<p><em>Ingen kunder fundet.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Kunde Id</th>
				<th>Navn</th>
				<th>Email</th>
				<th>Telefonnummer</th>
				<th>Adresse</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in filteredCustomers)
			{
				<tr>
					<td class="cell">@item.CustomerId</td>
					@if (editingCustomerId == item.CustomerId)
					{
						<td class="cell"><input class="cell-input" @bind="item.Name" /></td>
						<td class="cell"><input class="cell-input" @bind="item.Email" /></td>
						<td class="cell"><input class="cell-input" @bind="item.Phonenumber" /></td>
						<td class="cell">
							<input class="cell-input" @bind="item.Address" />
							<div class="button-container">
								<button class="btn btn-save" @onclick="() => SaveCustomer(item)">Gem</button>
								<button class="btn btn-abort" @onclick="CancelEdit">Fortryd</button>
							</div>
						</td>
					}
					else
					{
						<td class="cell">@item.Name</td>
						<td class="cell">@item.Email</td>
						<td class="cell">@item.Phonenumber</td>
						<td class="cell">
							@item.Address
							<div class="button-container">
								<button class="edit-button" @onclick="() => EditCustomer(item.CustomerId)"><i class="fa-solid fa-pencil"></i></button>
								<button class="edit-button" @onclick="() => DeleteCustomer(item.CustomerId)"><i class="fa-regular fa-trash-can"></i></button>
							</div>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
}


@code {
	private string nameSearch;
	private List<Customer> customers = new List<Customer>();
	private List<Customer> filteredCustomers = new List<Customer>();
	private int? editingCustomerId = null;

	[Inject]
	public ICustomerService Service { get; set; }

	protected override async Task OnInitializedAsync()
	{
		customers = (await Service.GetAllCustomers()).ToList();
		filteredCustomers = customers;
	}

	private void EditCustomer(int customerId)
	{
		editingCustomerId = customerId; // Sæt den aktuelle række i redigeringstilstand
	}

	private async Task SaveCustomer(Customer customer)
	{
		await Service.UpdateCustomer(customer); // Opdater produktet i databasen
		editingCustomerId = null; // Afslut redigering
		customers = (await Service.GetAllCustomers()).ToList();
	}

	private void CancelEdit()
	{
		editingCustomerId = null; // Annuller redigering
	}

	private async Task DeleteCustomer(int customerId)
	{
		await Service.DeleteCustomer(customerId);
		customers = (await Service.GetAllCustomers()).ToList();
		filteredCustomers = customers;
		StateHasChanged();
	}

	private void SearchCustomers()
	{
		FilterCustomers();
		StateHasChanged();
	}

	private void ClearCustomers()
	{
		filteredCustomers = customers;
		nameSearch = "";
		StateHasChanged();
	}

	private void FilterCustomers()
	{
		if (string.IsNullOrWhiteSpace(nameSearch))
		{
			filteredCustomers = customers; // Hvis søgningen er tom, vis alle produkter
		}
		else
		{
			filteredCustomers = customers.Where(p => p.Name.Contains(nameSearch)).ToList();
		}
	}
}